<div class="well-form">
  <%= simple_form_for @ink , html: { class: "form"} do |f| %>
    <ul>
      <% @ink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <div class="form-inputs">
      <% if current_user  && current_user.try(:type) != 'CustomerUser' %>
        <label>Customer <br>
          <%= select_tag(:customer_id, options_for_select(Customer.pluck(:name, :id)), {prompt: 'Select Customer'}) %>
        </label> 
      <% end %>
    </div>
    
    <div class="form-inputs">
      <label>Name <%= f.text_field :name, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser') %> </label>
    </div>

    <div class="form-inputs">
      <label>Client <%= f.text_field :client, class: "form-control" %> </label>
    </div>

    <div class="form-inputs">
      <label>Ink type <%= f.text_field :ink_type, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Substrate <%= f.text_field :substrate, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Coating <%= f.text_field :coating, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Ink number <%= f.text_field :ink_number, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Sap <%= f.text_field :sap, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Comments <%= f.text_area :comments, class: "form-control" %> </label>
    </div>
    <div class="form-inputs check-box-line">
      <label>Approved <br> 
        <%= f.check_box :approved, class: "", id: "check-box" %> </label>
    </div>
    <!-- <div class="form-group col-sm-2 col-xs-4">
      <= f.label :activ %>
      <label class="switch">
      <= f.check_box :approved,{}, "active", "inactive" %>
      <span class="slider round">
      </span>
      </label>
    </div> -->
    <br>
    <div class="form-inputs check-box-line" id="show-check-box"  style="display:none;">
      <!-- <label>Approved <= f.text_field :approved_on, placeholder: "Int / Client", class: "form-control" %> </label> -->
      <label>
        <%= f.select :approved_on, ['Int', 'Client'], {prompt: 'Select '} %>
      </label>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>
  <br>
  <%= link_to 'Back', inks_path, class: "btn btn-default btn-md" %>
</div>

<script type="text/javascript">
  var checkbox = document.getElementById('check-box');
  var details_div = document.getElementById('show-check-box');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>


