<div class="well-form">
  <%= simple_form_for @ink , html: { class: "form"} do |f| %>
    <ul>
      <% @ink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <div class="form-inputs">
      <% if current_user  && current_user.try(:type) != 'CustomerUser' %>
        <label>Customer <br>
          <%= select_tag(:customer_id, options_for_select(Customer.pluck(:name, :id)), {prompt: 'Select Customer'}) %>
        </label> 
      <% end %>
    </div>
    
    <div class="form-inputs">
      <label>Name <%= f.text_field :name, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser') %> </label>
    </div>

    <div class="form-inputs">
      <label>Client <%= f.text_field :client, class: "form-control" %> </label>
    </div>

    <div class="form-inputs">
      <label>Ink type <%= f.text_field :ink_type, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Substrate <%= f.text_field :substrate, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Coating <%= f.text_field :coating, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Ink number <%= f.text_field :ink_number, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Sap <%= f.text_field :sap, class: "form-control", disabled: (true if current_user.try(:type) == 'CustomerUser')  %> </label>
    </div>

    <div class="form-inputs">
      <label>Comments <%= f.text_area :comments, class: "form-control" %> </label>
    </div>
    
    <div class="form-inputs">
      <label>Approved <%= f.check_box :approved, class: "form-control" %> </label>
    </div>
    <!-- <div class="form-group col-sm-2 col-xs-4">
      <= f.label :activ %>
      <label class="switch">
      <= f.check_box :approved,{}, "active", "inactive" %>
      <span class="slider round">
      </span>
      </label>
    </div> -->
    <div class="form-inputs">
      <label>Approved <%= f.text_field :approved_on, class: "form-control" %> </label>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>
</div>




