<% @inks.each do |ink| %>
  <tr>
    <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser' %>
      <td class="hidden-sm hidden-xs">
        <p><%= ink.customer.name.truncate(14) if ink.customer.name? %></p>
      </td>
    <% end %>
    <td class="hidden-sm hidden-xs">
      <p><%= ink.id %></p>
    </td>
    <td>
      <p><%= link_to truncate(ink.name.capitalize).capitalize.html_safe, ink %></p>
    </td>
    <td class="hidden-sm hidden-xs">
      <p><%= ink.client.capitalize if ink.client? %></p>
    </td>
    <td class="hidden-sm hidden-xs">
      <p><%= ink.ink_type.capitalize %></p>
    </td>
    <td class="hidden-sm hidden-xs hide-element">
      <p><%= ink.substrate.capitalize if ink.substrate? %></p>
    </td>
    <td class="hidden-sm hidden-xs hide-element">
      <p><%= ink.coating.capitalize if ink.coating? %></p>
    </td>
    <td>
      <p><%= ink.ink_number.upcase  %></p>
    </td>
    <td>
      <p><%= ink.sap %></p>
    </td>
    <td class="hidden-sm hidden-xs">
      <p><%= ink.created_at.strftime('%b-%d-%y') %> by <%= ink.user.first_name if ink.user_id? %> <%= ink.user.last_name[0].upcase if ink.user_id?%>.</p>
    </td>
    
      <% if ink.approved_on? %>
        <td class="hidden-sm hidden-xs">  
          <span style="color:green"><%= ink.approved_on.upcase %></span>
        </td>
      <% else %>
        <td class="hidden-sm hidden-xs">  
          <span style="color:pink"></span>
        </td>
      <% end %>
    
    <td class="hidden-sm hidden-md hidden-xs" style="width: 150px;word-wrap: break-word;">
      <p><%= ink.comments.truncate(40).capitalize if ink.comments? %></p>
    </td>
    <td class="hidden-sm hidden-xs">
      <p><%= ink.updated_at.strftime('%b-%d-%Y') %> <br ><%= ink.modified_by if ink.modified_by? %></p>
    </td>
    <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser' || current_user.try(:type) == 'CustomerUser'%>
      <td>
        <%= link_to "", edit_ink_path(ink), id: "edit_#{ink.id}", class: 'glyphicon glyphicon-pencil index-icons' %>
      </td>
    <% end %>
    <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser' %>
      <td>
        <!-- < if current_user.id == group.user_id %> -->
          <%= link_to "", ink_path(ink), method: :delete, id: "delete_ink_#{ink.id}_from_index", class: 'glyphicon glyphicon glyphicon-trash index-icons', data: {confirm: 'Are you sure you want to delete this ink?'} %>
        <!-- < end %> -->
      </td>
    <% end %>
  </tr>
<% end %>

