<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="container-inks">

  <div class="top-games-wrap">
    
    <h1>Inks List</h1>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <% if current_user.try(:type) == 'AdminUser'  %>
          Admin User 
        <% elsif current_user.try(:type) == 'SuperUser'%>
          Super User
        <% elsif current_user.try(:type) == 'CustomerUser' %>
          Customer User
        <% elsif %>
          Regular User
        <% end %>
        
        <% if current_user.customer_name %>
          - <%= current_user.customer_name %>.
        <% end %>
      </div>
      <div class="col-md-6 col-xs-6 user-name-right">
        <p>
        Logged as: <%= current_user.first_name.capitalize  if current_user.first_name? %> <%= current_user.last_name[0].upcase if current_user.last_name? %>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 new-ink">
        <% if current_user  && current_user.try(:type) != 'CustomerUser' %>
          <!-- <= link_to 'New Ink', new_ink_path(@ink) %> -->

          <button type="button" class="btn btn-success btn-md custom-class">
            <%= link_to new_ink_path(@ink) do %>
                <i class="glyphicon glyphicon glyphicon-save"></i> New Ink
            <% end %>
          </button>
        <% end %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="logout">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser'%>

                <button type="button" class="btn btn-danger btn-md custom-class">
                  <%= link_to admin_root_path do %>
                      <i class="glyphicon glyphicon-wrench"></i> Admin
                  <% end %>
                </button>
              <% end %>
            </div>  
            <!-- <button type="button" class="btn btn-primary btn-md">
              <= link_to "Refresh", inks_path, :method => :get %>
            </button> -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <button type="button" class="btn btn-primary btn-md custom-class">
                <%= link_to edit_user_registration_path do %>
                    <i class="glyphicon glyphicon glyphicon-cog"></i> Settings
                <% end %>
              </button>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6"> 
              <button type="button" class="btn btn-info btn-md custom-class">
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="glyphicon glyphicon-log-out"></i> Log out
                <% end %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
<hr>
  <%= render 'inks/formfilter' %>
  <div class="table-wrap" id="filterrific_results">
    <table class="table table-striped table-hover ">
      <thead>
        <tr class="sortable-table">
          <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser' %>
            <th class="hidden-sm hidden-xs">
              Cust-Name
            </th>
          <% end %>
          <th class="hidden-sm hidden-xs">
            Id
          </th>
          <th>
            PMS #
          </th>
          <th class="hidden-sm hidden-xs">
            Client
          </th>
          <th class="hidden-sm hidden-xs">
            Type
          </th>
          <th class="hidden-sm hidden-xs">
            Substrate
          </th>
          <th class="hidden-sm hidden-xs">
            Coating
          </th>
          <th>
            Ink Number
          </th>
          <th>
            Sap #
          </th>
          <th class="hidden-sm hidden-xs">
            Created
          </th>
          <th class="hidden-sm hidden-xs">
            Approved
          </th>
          <th class="hidden-sm hidden-md hidden-xs">
            Comments
          </th>
          <th class="hidden-sm hidden-xs">
            Updated
          </th>
          <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser' || current_user.try(:type) == 'CustomerUser'%>
            <th>
              <span class="glyphicon glyphicon-pencil"></span>
            </th>
          <% end %>
          <% if current_user.try(:type) == 'AdminUser' || current_user.try(:type) == 'SuperUser'%>
            <th>
              <span class="glyphicon glyphicon-trash"></span>
            </th>
          <% end %>
        </tr>
      </thead>
    
      <tbody>
        <%= render "inks/ink" %> 
      </tbody>
    </table>

  </div> 
  
  
  </div>
</div>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>




